<!DOCTYPE html>
<html>
<head>
	<title>user's informations</title>
</head>
<body>
	<% data.forEach(function(item){ %>
	<li>姓名:<%= item.name %>, 性别:<%= item.sex %>, 年纪:<%= item.age %></li>
	<% }) %>
</body>
</html>